/* HOME */
body {
    #container1de1 {
        background-image: url(../imagens/humanFlight/01.jpg);
        background-position: center;
        height: 100vh;

        #gif1de1 {
            width: 150px;
            position: relative;
            left: 45%;
            top: 25%;
        }

        a {
            position: relative;
            left: -260px;
            margin-top: 22px;
            color: #fff;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                border: 1px solid rgb(216, 210, 210);
                border-radius: 5px;
                transition: 1s;
            }
        }

        .logo {
            left: -25px;
            position: relative;
            width: 250px;
            margin-top: 24px;
        }

        #containerF1de1 {

            display: grid;
            margin-top: 250px;

            p,
            h1 {
                color: #fff;
            }

            p {
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
            }

            #aff {
                margin-top: 50px !important;
            }

            h1 {
                font-size: 120px;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
            }

            button {
                margin-top: 50px;
                padding: 15px !important;
                width: 160px !important;
            }

        }


    }


    #container3de1 {
        background-image: url(../imagens/humanFlight/02.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        margin-top: 150px;

        .obs {
            position: relative;
            background-color: rgb(0, 0, 0);
            height: 150px;
            top: -150px;


            #space {
                position: relative;
                top: 60px;
                color: #fff;
                text-align: center;
                font-weight: 400;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        #containerF2de1 {
            position: relative;
            float: right;

            h5 {
                font-weight: 200 !important;

            }
            h1 {
                font-size: 60px;
            }

            h5,
            h1 {
                color: #fff;
                position: relative;
                top: 250px;
                font-weight: bold;
                text-transform: uppercase;
                margin-left: 450px;
            }

            button {
                margin-top: 50px;
                padding: 15px !important;
                width: 160px !important;
                position: relative;
                top: 250px;
                margin-left: 450px;
            }


        }
    }

    #container2de1 {
        background-image: url(../imagens/humanFlight/03.jpg);
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;

        #containerF3de1 {
            position: relative;
            top: 80px;
            float: left;
            left: 80px;

            h5 {
                font-weight: 200 !important;

            }
            h1 {
                font-size: 60px !important;
            }

            h5,
            h1 {
                color: #fff;
                position: relative;
                top: 280px;
                font-weight: bold;
                text-transform: uppercase;
                
            }

            button {
                margin-top: 50px;
                padding: 15px !important;
                width: 160px !important;
                position: relative;
                top: 250px;
            }

        }
    }

    #container4de1 {
        background-image: url(../imagens/humanFlight/05.jpg);
        width: 100%;
        height: 110vh;

        #containerF4de1 {

            position: relative;
            top: 110px;
            left: 80px;
            float: left;

            h5 {
                font-weight: 300 !important;
            }

            h1 {
                font-size: 60px !important;
            }

            h5,
            h1 {
                color: #fff;
                position: relative;
                top: 350px;
                font-weight: bold;
                text-transform: uppercase;
            }

            button {
                margin-top: 50px;
                padding: 15px !important;
                width: 160px !important;
                position: relative;
                top: 320px;
            }

        }
    }

    #container5de1 {
        height: 150px;
        background-color: #000;

        p {
            color: #fff;
            text-align: center;
            position: relative;
            top: 100px;
            right: 97px;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        svg {
            margin-left: 15px;
            position: relative;
            top: 38px;
            right: 97px;

        }

        .footer-links {
            float: right;
            position: relative;
            right: 750px;
            top: 20px;

        }
    }

    #container6de1 {
        background-image: url(../imagens/humanFlight/04.jpg);
        height: 100vh;
        background-position: center;



        #containerF6de1 {
            float: right;
            position: relative;
            top: 260px;
            
            h5, h1 {
                color: #fff;
            }

            h1 {
                font-size: 60px !important;
                margin-left: 450px;
                
            }
            h5 {
                font-weight: 300 !important;
                margin-left: 450px;
                
            }

            button {
                margin-top: 50px;
                padding: 15px !important;
                width: 160px !important;
                margin-left: 450px;
            }

        }
    }

    #container7de1 {
        background-color: rgba(0, 0, 0, 0.993);
        height: 550px;

        h5 {
            font-weight: 200 !important;
            color: #fff;
            text-align: center;
        }
        a {
            color: #fff;
            text-decoration: none;
        }

        button {
            margin-left: 30px;
            margin-top: 50px;
            padding: 20px !important;
            width: 250px !important;
            position: relative;
            left: 350px;
        }
    }
}


